
Creepy Pasta Walking Sim/Library/
Creepy Pasta Walking Sim/Logs/
Creepy Pasta Walking Sim/Temp/
/Creepy Pasta Walking Sim/UserSettings/Layouts
Creepy Pasta Walking Sim/UserSettings/Layouts/default-2022.dwlt
